*{padding: 0; margin:0; box-sizing: border-box;}

body{
	scroll-behavior: smooth;
		overflow-x: hidden;
}
.Title{
	color: #f41aaf;
}
header{
	background-color: #7c0a0a;
}
header{
	width: 100vw;
	height:75vh;
	background:linear-gradient(rgba(57, 29, 29, 0.8),rgba(44, 61, 37, 0.8));
	background-size: cover;
	
	
	background-attachment:fixed
}
nav{
	width: 100%;
	height:75px;
	
	color: rgb(240, 247, 245);
	display:flex;
	justify-content: space-between;
	align-items:flex-end;

	position:relative;
	top:0;
	background-color: rgb(34, 40, 31);
	
	border-bottom: 1px solid rgba(61, 174, 30, 0.2);
}
nav:hover{
	background-color: rgb(51, 79, 79);
}



.menu a{
	margin-left: 30px;
	text-decoration:dotted;
	color: rgb(255, 255, 255);
	font-size:15px;
	font-weight: bold;
	
	font-family:roboto monospace;
	

}

.menu a:hover{
	color: #ea0f0f;
	transition: 0.4s;
}

.icon a{
	padding:20px ;
	background:#f57264;
	color:white;
	text-decoration: none;
	margin-left:30px;
	border-radius: 10px;  
	background-color: #f57264;
}
.icon a:hover{
	background: transparent;
	border:1px solid #ec1105;
	color: rgb(0, 0, 0);
	transition: 0.4s ease;
}
.h-text{
	
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	text-align: center;
	padding: 100px;
}


.h-text h1{
	font-family: sans-serif;
	font-size: 3em;
	line-height:1.5em;
	color: rgb(221, 255, 0);
}
.h-text input{
	width: 70%;
	padding: 20px;
	border-radius: 8px;
	font-size: 12px;
	border:2em;
	outline: none;
}
.h-text button{
	width: 20%;
	padding:10px;
	background: #e74c3c;
	font-size: 20px;
	border:none;
	outline: none;
	color: white;
	border-radius: 6px; 
	margin-top: 20px;
}
.L{
	padding: 4px;
	text-align: center;
	background-color: #1a2330;
}


.C{
    font-size: 10px;
    font-weight: 500;
    margin-top: 15px;
    letter-spacing: 1px;
    text-transform:capitalize;
    color: rgb(28, 35, 36);
	text-align: center;
	
}
.C1{
	display: inline-block;
    width: 50px;
    height: 0px;
    margin: auto;
    border-top: 02px solid #cb2027;
}

.cp-showcase{
    width: 100%;
    height: 685px;
    margin: 0 auto;
    text-align: center;
}









footer{
	background: #262626;
	color: rgb(247, 63, 63);
	width: 100%;

	padding: 50px 100px;
}

.newsletter{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:30px;
	border:1px solid rgba(255,255,255,0.2);
}
.newsletter>div{
	flex-basis: 80%;
}
.n-text{
	
	text-align: right;
}
.newsletter h2{
	font-size: 2em;
	color:rgb(186, 244, 244);
	font-family: sans-serif;
}
.newsletter p{
	color:aliceblue;
	font-size: 20px;
	margin-top: 10px;
}
.newsletter label{
	position: relative;

}
.newsletter input{
	padding: 20px;
	width: 50%;
	border-radius: 8px;
	border:none;
	outline: none;
	font-family: sans-serif;
}
.newsletter button{
	position: absolute;
	right: 0;
	padding: 20px;
	width: 30%;
	background: #e74c3c;
	color: white;
	border:#e74c3c;
	outline: none;
	border-radius: 0 8px 8px 0;
}
.f-contact{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top:3em;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.f-contact>div{
	flex-basis:20%;


}
.f-contact p{
	line-height:2em;
	font-size: 20px;
	color: grey;	
	cursor: pointer;
}
.f-contact p:hover{
	color: white;
}
.f-contact i{
	background: white;
	color: black;
	padding:10px;
	font-size:16px;
	margin: 20px 5px;
	border-radius: 50%;
	transition: .2s ease;
}
.f-contact i:hover{
	background: transparent;
	border:1px solid white;
	color: white;
}
